body {
    min-width: 320px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: max-content;
    background: #4e34b5;
    box-shadow: #562483;
    animation: background 50s infinite alternate;
  }
  
  @keyframes background {
    50% {
      background: #562483;
      box-shadow: #4e34b5;
    }
}


h1,h2 {
    color: white;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 55px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 0;
}


a {
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    color: #000;
    background: url(../img/wt.jpg) no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation-name: gradient;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

@keyframes gradient {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;

    }
    100% {
        background-position: 0 0;

    }
}

.single-post p {
    color: white;
}

#p_prldr{
    position: fixed;
    left: 0;
    top: 0;
    right:0;
    bottom:0;
    background: #4e34b5;
    z-index: 30;}
     
    .contpre small{font-size:25px;}
     
    .contpre{
    width: 250px;
    height: 100px;
    position: absolute;
    left: 50%;top: 48%;
    margin-left:-125px;
    margin-top:-75px;
    color:#fff;
    font-size:40px;
    letter-spacing:-2px;
    text-align:center;
    line-height:35px;}
     
    #p_prldr .svg_anm {
    position: absolute;
    width: 41px;
    height: 41px;
    background-size:41px;    
    margin: -16px 0 0 -16px;}

header .navbar {
    padding: 40px 0;
}

header .navbar-brand {
    font-family: 'Inconsolata', monospace;
    font-size: 30px;
    color: #000;
    text-transform: uppercase;
}

header .nav-item {
    text-transform: uppercase;
    margin-left:40px;
}


footer {
    background-color: #000;
    padding-top: 50px;
    padding-bottom: 100px;
}


.card {
    border: 0;
    border-radius: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-body-text {
    background-color: #32a5fe;
    color: white;
    font-size: 20px;
    padding: 50px;
    line-height: 26px; 
}

.card-img-top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.card-body-more {
    background-color: #32a5fe;
    color: white;
    font-size: 20px;
    padding: 50px;
    line-height: 26px; 
}

.web-icon {
    height: 100px;
    width: 100px;
    padding-left: 20px;
}

.back-to-top {
    position: fixed;
    right: 10px;
    bottom: 200px;
    width: 50px;
    height: 50px;
    border-color: transparent;
    border-radius: 50%;
    /* background-color: black; */
    display: none;
}
/* 
.back-to-top:hover,
.back-to-top:focus {
    filter: brightness(1.5);
    outline: none;
}

.back-to-top::before,
.back-to-top::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.back-to-top::before {
    width: 5px;
    height: 25px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #f5f0f6;
}

.back-to-top::after {
    width: 15px;
    height: 15px;
    transform: translate(-50%, -75%) rotate(45deg);
    border-top: 5px solid #f5f0f6;
    border-left: 5px solid #f5f0f6;
} */

.heart {
	position: relative;
	width: 50px;
	height: 50px;
	-webkit-transform: rotate(45deg);  /* для Chrome и Safari */
	-moz-transform: rotate(45deg); /* для Firefox */ 
	-o-transform: rotate(45deg); /* для Opera */ 
	transform: rotate(45deg);
	border: solid 1px #d6ba2e;
	border-top: none;
    border-left: none;
    background: #d6ba2e;
}

.heart:before, .heart:after {
	position:absolute;
	content: ' ';
	-webkit-border-radius: 50px 0 0 50px;
	-moz-border-radius: 50px 0 0 50px;
	border-radius: 50px 0 0 50px;
	width: 30px;
	height: 50px;
	border: solid 1px #d6ba2e;
	border-right: none;
    left:-30px;
    background: #d6ba2e;
}
.heart:after {
	position: absolute;
	left: 10px;
	top: -40px;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    background: #d6ba2e;
}

.heart {
	animation-name: 'anime';
	animation-duration: 300ms;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in;
}

@keyframes 'anime' {
	from {
		transform: scale(1) rotate(45deg);
	}
	to {
		transform: scale(1.1) rotate(45deg);
	}
}

.heart {
	-webkit-animation-name: 'anime';
	-webkit-animation-duration: 1000ms;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: ease-in;
}

@-webkit-keyframes 'anime' {
	from {
		-webkit-transform: scale(1) rotate(45deg);
	}
	to {
		-webkit-transform: scale(1.1) rotate(45deg);
	}
}































/* Large Device, Wide Screens */
@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 1199px) {
    
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    
}

@media only screen and (max-width : 991px) {
    
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    
}

@media only screen and (max-width : 767px) {
    
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    h2 {
        font-size: 35px;
    }
    
}